﻿/*Declarations*/
/*hr {color:sienna;}
p {margin-left:20px;}
body {background-image:url("Matrix.jpg");}
input {background:#06F;	color: #CCC;}
textarea {background-color: #03C; color: #CCC;;}*/


/* --ELEMENTS-- */

body
{
    background-color: #FFFFCC;
}

a
{
    font-family: 'Comic Sans MS';
}

h1
{
    font-family: 'Comic Sans MS';
    font-weight: 100;
}

h2
{
    font-family: 'Comic Sans MS';
}

h3
{
    font-family: 'Comic Sans MS';
}

label
{
    font-family: 'Comic Sans MS';
}

input
{
	background-color: #CCFFCC;
}

input:focus
{
	background-color: #CCFF00;
}

textarea
{
	background-color: #CCFFCC;
	font-family: 'Comic Sans MS';
	font-size: 14px;
	font-weight: normal;
}

textarea:focus
{
	background-color: #CCFF00;
}

select
{
	background-color: #CCFFCC;
}

select:focus
{
	background-color: #CCFF00;
}

table,th,td
{
	border: 0px solid black;
}

/* --CLASSES-- */

.tdLabel
{
	text-align: right;
}

.txtUpdatePass
{
    color:black;
}

.txtUpdateFail
{
    color:red;
    font-weight:bold;
}
